/* ========================================================
                       TIMETABLE CSS
=========================================================== */
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    /* margin: auto; */
    margin-top: 0px;
    /* margin-left: 40px; */
    font-size: 16px;
    height: 10px;
}

.selectSemester td{
    width: auto;
    border:none;
}
.selectSemester{
    border:none;
    border-bottom: solid;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    width: 40px;
    padding: 8px;
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
    color: white;
    background-color: #333;
}

#timetable{
    width: 100%;
    margin-top: 20px;
}
#left{
    width: 70%;
    margin-right:auto;
    margin-left: auto;
}

.hide{
    display:none;
}

/* ========================================================
                        NEWS CSS
=========================================================== */

#newcontent{
    height: 300px;
    width: 310px;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px;
    margin-right: 30px; */
    vertical-align: top;
    overflow: auto;
}

.news {
    margin: 0;
    width: 100%;
    color: white;
}
.news td{
    background-color: #333;
}
